.logo {
  max-width: 100%;
  max-height: 100px; 
}

.card {
  width: 18rem;
  margin: 0 auto; 
}

.card-img-top {
  object-fit: cover; 
  height: 200px; 
}
  h2 {
    text-align: center;
    color: white;
  }
  a {
    margin: 10px;
  }
  p{
    text-align: center;
  }
  h1{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3em;
  }
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #333; 
    color: white; 
  }
  .btn:hover {
    background-color: rgb(0, 0, 0);
  }
  .btn{
    color: white;
  }
  .container{
    margin-top: 20px;
  }
  .logo{
    margin-left: 20px;
  }
  .navbar-toggler{
    margin-right: 20px;
  }
  .js-scroll {
    opacity: 0; /* Inicialmente invisível */
    transform: translateX(-20px); /* Para um efeito de deslizamento */
    transition: opacity 0.5s, transform 0.5s; /* Transições suaves */
  }
  
  .js-scroll.ativo {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Remove o efeito de deslizamento */
  }
  .bg{
    display: block;
    width: 70%;
    height: 60vh;
    margin: 20px auto;
    border-radius: 10px;

  }
  h1{
    margin-top: 120px;
  }
  h5{
    text-align: center;
  }
  .btn{
    display: block;
    margin: auto;
  }
  h2{
    margin-bottom: 20px;
  }
  @media(max-width: 500px){
    .bg{
      height: 40vh;
    }
    h1{
      margin-top: 100px;
      font-size: 2rem;
    }
    .logo{
      margin-left: 20px;
      width: 200px;
      height: 70px;
    }
    .card{
      width: 250px;
    }
  }